* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.woff2);
  src: url(/fonts/Roboto-Regular.woff);
  font-weight: 400;
}

html {
  height: 95%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: 'Roboto';
}

ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  height: 30px;
  font-family: Roboto;
  font-size: 16px;
  border: none;
}

.content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.content-main {
  display: flex;
  flex-direction: column;
}

.avatar {
  margin: 0 auto;
  width: 165px;
  height: 165px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.title::before {
  content: '@max_zalogin';
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #555;
}

.title::after {
  content: 'Developer from Moscow';
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 14px;
}

.item {
  justify-content: center;
  align-items: center;
}


.item-link {
  display: flex;
  justify-content: center;
}




.footer {
  flex: 0 0 auto;
  align-items:flex-end;
  color: #6f6f6f;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.item:first-child {
  margin-right: 15px;
}


.telegram,
.git {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.telegram {
  background-color: #40B3E0;
}

.telegram:hover {
  background: #62c1e7;
}

.telegram:active {
  background-color: #22b0e9;
}

.git:hover{
  background-color: #6f6f6f;
}

.git {
  background-color: #555;
}

.git:active{
  background-color: #3c3c3c;
}

.list {
  display: flex;
  justify-content: center;
  align-items:center ;
}

/* Mobile */
@media (max-width: 500px) {
  .list {
    flex-direction: column;
    padding-top: 10px;
  }

  .item:nth-child(1) {
    margin-right: 0;
    margin-bottom: 7px;
  }
}
